.wrapper {
  background-color: #ffefd5;
  min-height: 100vh;
  padding-bottom: 5px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

[class*="__container"] {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
