.header {
  background-color: #20b2aa;
  height: 55px;
}
.header__container {
  display: flex;
  align-items: center;
  height: 55px;
}
.header__home {
  flex: 1 1 auto;
}
.header__home a {
  color: #4b0082;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 7px;
}
.header__search {
  background-color: white;
  border-radius: 25px;
  padding: 0 10px 0 0;
}
.header__button {
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #9400d3;
  outline: none;
  padding: 5px;
}
.header__input {
  border: none;
  outline: none;
  padding-left: 10px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.header__menu button{
  background-color: #20b2aa;
  margin: 0 0 0 10px;  
}

.header__menu button:hover{
  color: #7FFFD4;
}

input{
  border: 2px solid black;
}

.submit {
  border: none;
  border-radius: 10px;
  background-color: greenyellow;
  outline: none;
  margin-top: 50px;
  padding: 5px;
}

.reg-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form__field{
  display: flex;
  align-items: center;
}
.reg-form__field p{
  width: 70px;
  text-align: right;
}

.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root{
  width: 15vw;
}
.css-8je8zh-MuiTouchRipple-root{
  border: 1px solid;
}
#reg,
#cls,
#in {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

.modal__content h2{
  font-size: 50px;
  text-align: center;
  margin: 0 0 20px 0;
}